In [2]:
import nasdaqdatalink
import boto3
import pandas as pd

In [3]:
access_key = 'AKIA4UEYLQ2RSJBWW7NK'
secret_access_key = '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'
nasdaqdatalink.ApiConfig.api_key = 'gsxvQ9bJTagPNfsNWu_x'

In [4]:
#pobieram plik z nasdaqdatalink
nasdaqdatalink.Database('ECONOMIST').bulk_download_to_file('C:/Users/stonk/Desktop/Python/')

'C:/Users/stonk/Desktop/Python//ECONOMIST.zip'

In [5]:
database_df = pd.read_csv('C:/Users/stonk/Desktop/Python/ECONOMIST_20220708.csv',header=None)

In [6]:
#ponieważ plik zestawiający wszystkie time series pobiera się bez nagłówków, trzeba je przypisać
ds_usa = nasdaqdatalink.get('ECONOMIST/BIGMAC_ARE')

In [7]:
col_list = ds_usa.columns.tolist()
print(col_list)

['local_price', 'dollar_ex', 'dollar_price', 'dollar_ppp', 'dollar_valuation', 'dollar_adj_valuation', 'euro_adj_valuation', 'sterling_adj_valuation', 'yen_adj_valuation', 'yuan_adj_valuation']

In [8]:
col_list.insert(0,'date')
col_list.insert(0,'country')
print(col_list)

['country', 'date', 'local_price', 'dollar_ex', 'dollar_price', 'dollar_ppp', 'dollar_valuation', 'dollar_adj_valuation', 'euro_adj_valuation', 'sterling_adj_valuation', 'yen_adj_valuation', 'yuan_adj_valuation']

In [9]:
database_df.columns = col_list

In [10]:
#top 5 krajów
bigmac_july = database_df[(database_df['date'] >= '2021-07-01') & (database_df['date'] <= '2021-07-31')]
bigmac_july['country'] = bigmac_july['country'].str.replace('BIGMAC_','')
bigmac_july = bigmac_july.sort_values(by=['dollar_valuation'],ascending=False)

#usuwam pierwszy nieprawidłowy wiersz
bigmac_july = bigmac_july.iloc[1: , :]

#zapisuje plik
final = bigmac_july.head(5)
final.to_excel('C:/Users/stonk/Desktop/Python/bigmac_final.xlsx',index=False)
display(final)

C:\Users\stonk\AppData\Local\Temp\ipykernel_27568\308815483.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bigmac_july['country'] = bigmac_july['country'].str.replace('BIGMAC_','')

,country,date,local_price,dollar_ex,dollar_price,dollar_ppp,dollar_valuation,dollar_adj_valuation,euro_adj_valuation,sterling_adj_valuation,yen_adj_valuation,yuan_adj_valuation
230,CHE,2021-07-31,6.50,0.92275,7.044161,1.150442,24.675,6.486,-2.475,5.409,40.828,6.888
1184,NOR,2021-07-31,57.00,9.04440,6.302242,10.088496,11.544,8.568,-0.568,7.470,43.581,8.978
1582,SWE,2021-07-31,54.00,8.71650,6.195147,9.557522,9.649,19.795,9.714,18.583,58.429,20.248
1790,USA,2021-07-31,5.65,1.00000,5.650000,1.000000,0.000,0.000,-8.415,-1.012,32.250,0.378
194,CAN,2021-07-31,6.77,1.27410,5.313555,1.198230,-5.955,10.225,0.949,9.110,45.773,10.642